@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    background: rgb(var(--color-base-3));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --color-base-1: 72 217 194;
        --color-base-2: 67 149 136;
        --color-base-3: 19 19 19;
        --color-base-4: 182 182 182;
        --color-base-5: 241 241 241;
        --color-base-6: 252 252 252;
        --color-base-7: 194 194 194;
        --color-base-8: 238 238 238;
        --color-base-9: 24 24 24;
        --color-base-10: 0 255 207;
    }

    @media (prefers-color-scheme: dark) {
        :root {
        }
    }
}

.translate-z-12 {
    transform: translateZ(3rem);
}
